:root {
  --cor-primaria: #1b1b1b;
  --cor-secundaria: #fff;
  --cor-alerta: #ffcf55;
}

html,
body,
a{
  padding: 0px;
  margin: 0px;
  font-family: Noto Sans KR,sans-serif;
  background-color: #1b1b1b;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
}

h1{
  padding: 0px;
  margin: 0px;
  font-family: Noto Sans KR,sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 10px;
}

body{
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

