html,
body,
a{
  padding: 0px;
  margin: 0px;
  font-family: Noto Sans KR,sans-serif;
  background-color: #1b1b1b;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
}

body{
  margin-bottom: 20px;
}

a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}

.item-menu{
  margin-left: 20px;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #fff;
  width: 100%;
  padding: 20px;
}

.item-menu:hover{
  color: red;
}

.titulo{
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video{
  margin-top: 10px;
}

.video iframe{
  border: none;
  width: 100%;
  aspect-ratio: 16/9;
}

.card-project{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  border: 2px solid #fff;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.text-project{
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  width: 100%;
} 

.img-project{
  border-radius: 20px;
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 100%);
  width: 25%;
}

.text-project.sobre-mim {
  justify-content: center;
}

.card-project{
  background-color: #161616; 
}

.whitelist{
  border: 2px solid #ffcf55;
  background-color: #161616;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.whitelist span{
  font-size: 15px;
}